name: Relatorio Diario Automatico

on:
  schedule:
    # O horário é em UTC. Luanda é UTC+1. 
    # Para receber às 08:00 de Luanda, configuramos para as 07:00 UTC.
    - cron: '0 7 * * *'
  workflow_dispatch: # Permite que você também execute manualmente se quiser

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Copiar arquivos do projeto
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar ferramentas necessarias
        run: |
          pip install pandas openpyxl fpdf matplotlib

      - name: Executar o Robo do Laurindo
        env:
          MINHA_SENHA: ${{ secrets.MINHA_SENHA }}
        run: python main.py
