name: Alerta Diário Logística Luanda

on:
  schedule:
    # Agendado para as 08:00 de Luanda (07:00 UTC)
    - cron: '0 7 * * *'
  workflow_dispatch:

jobs:
  executar-alerta:
    runs-on: ubuntu-latest
    steps:
      - name: Aceder aos arquivos do projeto
        uses: actions/checkout@v3

      - name: instalar Python e Ferramentas
        run: |
          python -m pip install --upgrade pip
          pip install pandas openpyxl matplotlib fpdf requests

      - name: Executor o Script de Alerta
        env:
          MINHA_SENHA: ${{ secrets.MINHA_SENHA }}
        run: python main.py
